@font-face {
  src: url("../fonts/RoslindaleCondensed-Regular.eot");
  /* IE < 9 */
  src: url("../fonts/RoslindaleCondensed-Regular.eot?#") format("embedded-opentype"), url("../fonts/RoslindaleCondensed-Regular.woff2") format("woff2"), url("../fonts/RoslindaleCondensed-Regular.woff") format("woff");
  font-family: "RoslindaleCondensed";
  font-style: normal;
  font-weight: normal;
}
@font-face {
  src: url("../fonts/NeueMontreal-Bold.eot");
  /* IE < 9 */
  src: url("../fonts/NeueMontreal-Bold.eot?#") format("embedded-opentype"), url("../fonts/NeueMontreal-Bold.woff2") format("woff2"), url("../fonts/NeueMontreal-B  old.woff") format("woff");
  font-family: "NeueMontreal";
  font-style: normal;
  font-weight: Bold;
}
@font-face {
  src: url("../fonts/NeueMontreal-Italic.eot");
  /* IE < 9 */
  src: url("../fonts/NeueMontreal-Italic.eot?#") format("embedded-opentype"), url("../fonts/NeueMontreal-Italic.woff2") format("woff2"), url("../fonts/RoslindaleCondensed-Italic.woff") format("woff");
  font-family: "NeueMontreal";
  font-style: italic;
  font-weight: normal;
}
@font-face {
  src: url("../fonts/NeueMontreal-Regular.eot");
  /* IE < 9 */
  src: url("../fonts/NeueMontreal-Regular.eot?#") format("embedded-opentype"), url("../fonts/NeueMontreal-Regular.woff2") format("woff2"), url("../fonts/NeueMontreal-Regular.woff") format("woff");
  font-family: "NeueMontreal";
  font-style: normal;
  font-weight: normal;
}
html {
  font-family: "NeueMontreal";
}

h1,
h2,
h3,
h4 {
  font-family: "RoslindaleCondensed";
}

html {
  font-size: 62.5%;
}

body {
  background: #fff5e8;
  font-size: 1.6em;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  text-decoration: none;
  font-size: 2rem;
  color: #1a1a1a;
  font-family: "RoslindaleCondensed";
}

.main-nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 1rem;
}
.main-nav ul li a {
  text-decoration: none;
  color: #1a1a1a;
}

.main {
  margin: 0 auto;
  width: 100%;
  max-width: 128rem;
}
