// Normalize
@import "scss/normalize";

// Base
@import "scss/colors";
@import "scss/typography";
@import "scss/base";

// Blocks
@import "scss/header";
@import "scss/footer";
@import "scss/container";

// Elements
.main {
  margin: 5rem auto 0 0;
  width: 100%;
  max-width: 128rem;
}

.container {
  margin: 0;
  width: 100%;
  max-width: 128rem;
}

// Modifiers
