// Base

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-size: 14px;
	line-height: 1.5;
	scroll-behavior: smooth;
}

body {
	background: $background;
	padding: 2rem;
}

img {
	width: 100%;
	height: auto;
}
