footer {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;

	p {
		margin-bottom: 0;
		font-size: 1rem;
	}
}

.socials {
	width: 50%;
	text-align: right;
	ul {
		margin: 1rem 0 0 0;
		padding: 0;
		display: flex;
		justify-content: flex-end;

		li {
			list-style: none;
			display: inline-block;
			margin-left: 1rem;
			max-width: 90px;
			img {
				width: 100%;
			}
		}
	}
}
